/************************************************************************************
smaller than 980
*************************************************************************************/
/*@media screen and (max-width: 980px) {

	/* pagewrap */
	/*#pagewrap {width: 617px}
	#header {height: 99px; width: 100%}
	h1#site-logo {top: 30px}
	h2#site-description {top: 30px}
	.fadein {float: none}
	#bannerRight {clear: both; width: 507px; margin: 300px 0 20px 25px}
	#footer {height: 50px; width: 100%}
	#footer p {line-height: 45px}
	#copy {padding-bottom: 0}
	.imageMobile {display: none}
}

/************************************************************************************
smaller than 768
*************************************************************************************/
 @media screen and (max-width: 768px) {
 	body {-webkit-text-size-adjust: none;}
	#header {height: 130px; width: 100%}
	#footer {height: 50px; width: 100%}
	#contentwrap {padding: 20px 0}
	.headerleft {width: 100%; top: 15px; text-align: center}
	h1#site-logo {margin: 0 auto}
	p.homepage {font-size: 1em}
	#footer {position: relative; width: 978px; max-width: 90%; margin: 0 auto; padding: 0; height: 40px; text-align: center}
	#footer p {float: none; line-height: 60px}
	#grid .square {margin-right: 4%; float: left; width: 48%; height: auto; border: 0}
	#grid .square.second {margin-right: 0}

	#grid.portfolio .square.last {display: inline}
	#grid.portfolio .square.row2.second, #grid.portfolio .square.row1.last, #grid.portfolio .square.row3.last, #grid.portfolio .square.row4.second {margin-right: 4%}
	#grid.portfolio .square.row2.first, #grid.portfolio .square.row4.first {margin-right: 0}
	h1 {display: none}
  #header {margin: 10px auto 0; padding: 0; height: 60px}
  h1#site-logo {width: 139px; height: 31px; background-size: 100% 100%}
  h1#site-logo a {width: 139px; height: 31px; background-size: 100% 100%}
  #grid.portfolio .square.row1.last {float: right; margin: 0}
}


/************************************************************************************
smaller than 320
*************************************************************************************/
@media screen and (max-width: 640px) {
  #grid .square {width: 100%}
  #grid .square img {width: 100%}
  h1#site-logo {width: 93px; height: 20px; background-size: 100% 100%}
  h1#site-logo a {width: 93px; height: 20px; background-size: 100% 100%}
  #header {margin: 10px auto 0; padding: 0; height: 25px}

}
